<div class="column is-one-quarter is-half-mobile is-centered">
    <a href="/movies/{{id}}" class="movie-link">
        <div class="card movie-card" data-description="{{description}}">
            <div class="card-image">
                <figure class="image is-2by3">
                    <img src="{{imageSrc}}" alt="{{title}}" style="object-fit: cover; height: 100%; width: 100%;">
                </figure>
            </div>
            <div class="card-content has-text-centered">
                <p class="title is-5">{{title}}</p>
                <div class="rating" data-rating="{{rating}}">
                    <!-- Stars will be generated here by JavaScript -->
                </div>
            </div>
        </div>
    </a>
</div>